@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;700&family=Raleway&display=swap');
*{
  box-sizing: border-box;
}
body{
  padding:0px;
  margin:0px;
}
h2{
  display: inline-block;
  font-family: Montserrat;
  font-weight: 700;
  color:rgba(0, 0, 0);
  margin:0px;
  font-size: 3.5vw;
  text-transform: uppercase;
  margin:8.7vw 0px 1.4vw;
}
h3{
  font-family: Merriweather;
  font-weight: 700;
  font-size: 1.8vw;
  margin-bottom: 3px;
  color:rgba(0, 0, 0);
  text-transform: uppercase;
}
h4{
  font-family: Merriweather;
  font-weight: 700;
  font-size: 1.5vw;
  margin-bottom: 3px;
  color:rgba(0, 0, 0);
  text-transform: uppercase;
}
p{
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.4vw;
  color:rgba(0, 0, 0);
}
.description{
  display: inline-block;
  font-family: Merriweather;
  font-size:1.7vw;
  color:rgba(0, 0, 0, 0.62);
  text-transform: uppercase;
  margin-bottom: 7vw;
}
button{
  cursor: pointer;
}
.sliderIndex{
  max-width:52px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 3.6vw;
}
.index{
  max-width:10px;
  max-height: 10px;
  width:0.7vw;
  height: 0.7vw;
  background-color:#d0d0d0;
  border-radius:3px;
}
.sliderIndex1{
  max-width:52px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 3.6vw;

}
#viewport1 {
   max-width: 392px;
  max-height: 483px;
  width:27vw;
  height:34vw;
  overflow: hidden;
}
.slider1 {
  position: relative;
  transition: 500ms;
  max-width: 392px;
  max-height: 483px;
  display: block;
  width:27vw;
  height:34vw;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}
.slide1 {
  max-width: 392px;
  max-height: 483px;
  display: block;
  width:27vw;
  height:34vw;
}
.slide1 img {
  max-width: 392px;
  max-height: 483px;
  display: block;
  width:27vw;
  height:34vw;
  object-fit: cover;
  object-position: center;
}
.index1{
  max-width:10px;
  max-height: 10px;
  width:0.7vw;
  height: 0.7vw;
  background-color:#d0d0d0;
  border-radius:3px;
}
.back{
  z-index: 10000000000;
  position: fixed; 
  bottom:1.4vw;
  right: 1.4vw;
  max-width:50px;
  max-height:50px;
  width:3.4vw;
  height:3.4vw;
  background: #eaebed;
  border-radius: 50px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  min-width: 30px;
}
.back img{
  max-width:16px;
  max-height: 16px;
  width:1.1vw;
  height:1.1vw;
  min-width: 9.6px;
  min-height: 9.6px;
}
.back:hover{
  background-color: #505050;
  transition: 400ms;
}
.back:hover img{
  filter:invert(100)
}
.back img{
  transform:rotate(270deg);
}
/*блок1*/
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eff0f2;
  padding-left:10vw;
  height:925px;
  padding-right:10vw;
  padding-top:80px;
  padding-bottom:196px ;
  justify-content: space-between;
  max-width: 1440px;
}
.main h1{
  text-align: center;
  font-size: 36pt;
  font-family: Montserrat;
  color:#505050;
  text-shadow: 5px 9px 10px rgba(50, 50, 50, 0.5);
  font-weight: 700;
}
.main h1 span{
  background-color: #b2f2ee;
  padding: 5px;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width:1140px;
  margin:0px auto; 
  padding:0px;
  width:80vw;
}
header button{
  border:none;
  cursor:pointer;
}
.main > button{
  border: solid 2pt;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  width:232px;
  height: 53px;
  max-height:53px;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18pt;
  text-transform: uppercase;
}
.main > button:hover{
  background-color: #505050;
  border-radius: 7px;
  color:white;
  transition: 300ms;
}
/*блок2----------------------------------------------------------------------------------------*/
.aboutUs{
  max-width:1440px;
  max-height:925px;
  background-color:#f8fafa;
  text-align: center;
}
.container1{
  max-width:1140px;
  max-height: 650px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  width:80vw;
  height:45vw;
}
.block1-1{
  position:relative;
  max-height:540px;
  max-width:480px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height:37.7vw;
  width:33vw;
}
.block1-1 img{
  max-width: 392px;
  max-height: 483px;
  display: block;
  width:27vw;
  height:34vw;
}
.rectangle{
  max-width:480px;
  max-height:412px;
  color:#505050;
  position: absolute;
  z-index: -1;
  width:33vw;
  height:29vw;
}
.block1-2{
  text-align: left;
  max-width:478px;
  margin-left:8vw ;
  width:33vw;
  height:37.7vw;
  max-height: 540px;
}
.block1-2 h3:nth-child(1){
  margin-top: 0px;
}
/*блок3----------------------------------------------------------------------------------------*/
.featuredWorks{
  max-height: 1160px;
  max-width:1440px;
  text-align: center;
}
.galleryItems{
  margin:0 auto;
  max-width: 1140px;
  max-height: 730px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  height:51vw;
  width: 80vw;
}
.imgContainer {
  background-position: center center;
  background-size: cover;
  max-width:370px;
  max-height: 360px;
  width:25vw;
  height:25vw;
  margin-bottom: 1vw;
}
.imgContainer:nth-child(1){
  background-image: url(./icons/icecream.png);
}
.imgContainer:nth-child(2){
  background-image: url(./icons/box.png);
}
.imgContainer:nth-child(3){
  background-image: url(./icons/bottles.png);
}
.imgContainer:nth-child(4){
  background-image: url(./icons/book.png);
}
.imgContainer:nth-child(5){
  background-image: url(./icons/9.png);
}
.imgContainer:nth-child(6){
  background-image: url(./icons/tea.png);
}
/*блок4-----------------------------------------------------------------------------------------*/
.ourServices{
  max-height: 1620px;
  max-width:1440px;
  background-color: #f8fafa;
  text-align: center;
  height: 112.5vw
}
.cardBlock{
  max-width:1150px;
  max-height:1190px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  margin: 0 auto;
  background-blend-mode:darken;
  width:80vw;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding:5vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-blend-mode: darken;
  margin-bottom:1vw;
}
.card h6{
  color:white;
  font-family: Merriweather;
  font-weight: 700;
  font-size: 1.85vw;
  text-transform: uppercase;
  margin:0 0 1.8vw 0;
}
.card p{
  color: white;
  font-family: Raleway;
  font-size: 1.5vw;
  text-align: left;
  margin:0 0 3.8vw 0;
}
.card button{
  font-family: Raleway;
  font-size: 1.75vw;
  border: none;
  background: transparent;
  color:white;
  padding: 0.7vw;
  vertical-align:top;
}
.card button img{
  filter:invert(1);
  width:2vw;
  height:2vw;
}
.card button:hover img{
  filter:none;
}
.card button:hover{
  color:black;
  background-color:#6df6eb ;
  transition: 400ms;
}
.card:nth-child(1){
  max-width:652px;
  max-height: 422px;
  background-color: rgba(0, 0, 0, 0.7) ;
  background-image: url(./icons/tea.png);
  width:45vw;
  height:29vw;
}
.card:nth-child(2){
  max-height: 422px;
  max-width:474px;
  background-color: rgba(0, 0, 0, 0.7) ;
  background-image: url(./icons/design.png);
  width:29vw;
  height:29vw;
}
.card:nth-child(3){
  max-height:370px;
  max-width: 652px;
  background-color: rgba(0, 0, 0, 0.7) ;
  background-image: url(./icons/laptop.png);
  background-size: cover;
  width:45vw;
  height:29vw;
}
.card:nth-child(4){
  max-width:474px;
  max-height:370px;
  background-color: rgba(0, 0, 0, 0.7) ;
  background-image: url(./icons/IMG1.png);
  background-position: center right;
  width:29vw;
  height:29vw;
  
}
.card:nth-child(5){
  max-width:472px;
  max-height:370px;
  background-color: rgba(0, 0, 0, 0.7) ;
  background-image: url(./icons/bottle.png);
  width:29vw;
  height:29vw;
}
.card:nth-child(6){
  max-width: 652px;
  max-height:370px;
  background-color: rgba(0, 0, 0, 0.7) ;
  background-image: url(./icons/cups.png);
  width:45vw;
  height:29vw;
}
/*блок5-----------------------------------------------------------------------------------------*/
.smallTeam{
  max-height:1315px;
  max-width:1440px;
  text-align: center;
  height: 91vw;
}
.teamBlock{
  max-width:1140px;
  max-height:895px;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content: space-around;
  align-content: space-around;
  margin: 0 auto; 
  width:80vw;
  height: 62vw;
}
.teammate{
  position: relative;
  max-width:370px;
  max-height:440px;
  background-size: cover;
  width:26vw;
  height:30vw;
  margin-bottom: 1vw;
}
.teammate:hover .mateDescribe{
  display: flex;
  transition: 400ms;
  flex-direction: column;
  justify-content: space-between;
}
.cont{
  height: fit-content;
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.mateDescribe{
  text-align: left;
  display: none;
  position: absolute;
  top:12.8vw;
  left:1.5vw;
  background-color: #6df6eb;
  max-width: 335px;
  max-height: 241px;
  width: 23vw;
  height:16.7vw;
  padding: 2.4vw;
  margin:0px;
}
.mateDescribe h6{
  font-family: Merriweather;
  font-weight: 700;
  font-size: 1.4vw;
  display: inline-block;
  margin:0px;
}
.mateDescribe span{
  font-family: Merriweather;
  font-weight: 400;
  font-size: 1.1vw;
  color:#787878;
  font-style: italic;
  margin: 0px;
  align-self: flex-end;
}
.mateDescribe p{
  font-family:Raleway;
  font-weight: 400;
  font-size: 0.9vw;
  opacity: 0.7;
  color:black;
  margin: 0.7vw 0;
}
.mateDescribe button{
  background-color: transparent;
  border:none;
  width: fit-content;
  height: fit-content;
  padding: 0px;
  display: inline;
  height:1.1vw;
}
.mateDescribe img{
  width:1.1vw;
  display: inline;
  height: 1.1vw;
}
.teammate:nth-child(1){
  background-image: url(./icons/team1.png);
}
.teammate:nth-child(2){
  background-image: url(./icons/nibba.png);
}
.teammate:nth-child(3){
  background-image: url(./icons/team3.png);
}
.teammate:nth-child(4){
  background-image: url(./icons/team4.png);
}
.teammate:nth-child(5){
  background-image: url(./icons/team5.png);
}
.teammate:nth-child(6){
  background-image: url(./icons/team1.png);
}
/*блок6------------------------------------------------------------------------------------------*/
.whatTheySays{
  max-height:925px;
  max-width: 1440px;
  background-color:#f8fafa;
  text-align: center;
}
.block2{
  display: flex;
  justify-content: space-between;
  max-width:1140px;
  max-height: 480px;
  align-items:flex-start;
  margin: 0 auto;
  width:80vw;
}
.block2-1{
  max-width:393px;
  max-height:480px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-between;
  width:27vw;
  height: 33vw;
  padding-bottom: 2vw;
}
.block2-1 img{
  max-width:320px;
  max-height:410px;
  width:22vw;
  height:29vw;
}
#viewport {
  max-width:320px;
  max-height:410px;
  width:22vw;
  height:29vw;
  overflow: hidden;
}

.slider {
  position: relative;
  transition: 500ms;
  max-width:320px;
  max-height:410px;
  width:22vw;
  height:29vw;
  display: flex;
  justify-content: start;
  flex-wrap: nowrap;
}

.slide {
  max-width:320px;
  max-height:410px;
  width:22vw;
  height:29vw;
}

.slide img {
  max-width:320px;
  max-height:410px;
  width:22vw;
  height:29vw;
  object-fit: cover;
  object-position: center;
}
.block2-2{
  max-width:666px;
  max-height: 480px;
  display: flex;
  flex-direction: column;
  width:46vw;
  height: 33vw;
}
.block2-2-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width:666px;
  max-height:362px;
  background-color: #eaebed;
  padding: 6.9vw 6.25vw 4.9vw;
  height:25vw;
}
.block2-2-1 h6{
  font-family: Merriweather;
  font-weight: 700;
  font-size: 1.9vw;
  display: inline-block;
  margin:0px;
}
.block2-2-1 span{
  font-family: Merriweather;
  font-weight: 400;
  font-size: 1.38vw;
  color:#787878;
  font-style: italic;
  margin: 0px;
}
.block2-2-1 p{
  font-family:Raleway;
  font-weight: 400;
  font-size: 1.1vw;
  opacity: 0.7;
  color:black;
}
.block2-2-1 .starBlock{
  max-width:80px;
  max-height: 16px;
  background-image: url(./icons/star.png);
  width: 5.6vw;
  height: 1.1vw;
  background-size: contain;
}
.buttonBlock{
  align-self: flex-end;
  max-width: 140px;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-top: 2.2vw;
  width:10vw;
}
.buttonBlock button{
  max-width: 53px;
  max-height: 53px;
  border: none;
  border-radius: 3px;
  box-shadow:0.3vw 0.3vw 0.3vw  rgba(18, 18, 19, 0.1);
  width:3.6vw;
  height:3.6vw;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonBlock button img{
  width:1.1vw;
  height:1.1vw;
}
.buttonBlock button:nth-child(1) img{
  scale: -100%;
}
.buttonBlock button:hover{
  background-color: #6df6eb;
  transition: 400ms;
}
/*Партнетры---------------------------------------------------------------------------------------*/
.partners{
  height:27vw;
  max-height:390px;
  max-width:1440px;
  text-align: center;
  background-image: url(./icons/partners.png);
  background-position: center;
  background-size: contain;
}
/*Форма-------------------------------------------------------------------------------------------*/
.formBlock{
  max-height:705px;
  max-width:1440px;
  background-image: url(./icons/formbg.png);
  background-position: bottom center;
  background-color: rgba(255, 255,255, 0.7);
  background-blend-mode: color-burn;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height:49vw;
}
form{
  background-color: rgba(2, 22, 35, 0.8);
  max-width:614px;
  max-height:460px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:3.125vw 2.1vw;
  width: 43vw;
  height: 32vw;
}
form input{
  background-color: transparent;
  border:0px;
  border-bottom: 0.07vw;
  border-style: solid;
  color:white;
  font-family: Raleway;
  font-weight: 400;
  font-size:1.38vw;
  vertical-align: middle;
  padding-bottom: 1.4vw;
  opacity: 0.4;
}
form input:focus{
  outline: none;
}
form textarea{
  max-height:110px;
  max-width:554px;
  background-color: transparent;
  border:0px;
  border-bottom: 0.07vw;
  border-style: solid;
  color:white;
  font-family: Raleway;
  font-weight: 400;
  font-size: 1.38vw;;
  vertical-align: middle;
  padding-bottom: 1.4vw;
  resize: none;
  opacity: 0.4;
  width:38vw;
  height:7.6vw;
}
form textarea:focus{
  outline: none;
}
input::-webkit-input-placeholder {
   color: white;
}
textarea::-webkit-input-placeholder {
   color:white;
}
form button{
  background-color:#6df6eb;
  max-width:244px;
  max-height:53px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.7vw;
  color:rgb(0, 0, 0);
  width: 17vw;
  height: 3.7vw;
  border:none;
  padding: 0;
}
form button:hover{
  background-color: #262b2e;
  color:white;
  opacity: 0.8;
  transition: 300ms;
}
form input:focus{
  opacity: 1;
}
form textarea:focus{
  opacity: 1;
}
.addres{
  max-width:500px;
  max-height: 460px;
  background-color: rgba(2, 22, 35, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding:1.7vw 1.7vw ;
  color:rgba(255, 255, 255, 0.4);
  width:35vw;
  height:32vw;
}
.addres ul{
  list-style: none;
  padding:0px ;
  font-size: 1.1vw;
}
#map{
  padding: 0;
  width:32vw;
  max-width: 450px;
  max-height: 302px;
  height:17vw ;
}
/*футер--------------------------------------------------------------------------------------------*/
footer{
  max-height: 316px;
  max-width:1440px;
  background-color: #262b2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 22vw;
}
footer  button{
  max-width:45px;
  max-height: 40px;
  background-color:#8a8a8a ;
  box-shadow: none;
  border:none;
  border-radius: 0.14vw;
  width: 3.125vw;
  height:2.8vw;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .social{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width:200px;
  width:14vw;
}
footer img{
  filter: invert(100%);
  max-width: 16px;
  max-height: 16px;
  height:1.1vw;
  width:1.1vw;
  display: inline-block;
}
footer button:hover{
  background-color: #6df6eb;
  transition: 400ms;
}
footer button:hover img{
  filter: none;
  transition: 400ms;
}
footer h6{
  font-family: Raleway;
  font-weight: 400;
  font-size:1.5vw;
  color:white;
  opacity: 0.8;
  margin:6.5vw 0 1.4vw;
}
footer p{
  font-family: Raleway;
  font-weight: 500;
  font-size:1.5vw;
  color:white;
  opacity: 0.4;
  margin-top: 3vw;
}

